@import "tailwindcss";
@source "../index.html";

@theme {
  --color-brand: #072c2c;
  --color-brand-accent: #ff5f03;
  --color-brand-paper: #edeade;
  --color-brand-ink: #111827;
  --font-sans: "Ubuntu", sans-serif;
  --font-display: "Oswald", sans-serif;
  --font-mono: "Ubuntu Mono", monospace;
}
